/*

# Float & clear

Float removes an element from the standard flow the browser uses to render websites.

- Any text in nearby elements will wrap around the floated element.
- Any block level elements, that come after the floated element in the HTML,
will go up behind the floated element as though it wasn't there.

The primary purpose of `float` is for wrapping text around images,
but we can use it to make complex multi-column layouts.

## Clear

Clearing allows us to tell specific elements on the page to be displayed below floated elements.

 */

p {
  background-color: #0f0;
  border: 5px solid #000;
}

div {
  background-color: rgba(255,0,0,0.5);
  padding: 1em;
  float: left; /* right, none */
  margin-right: 0.5em;
  width: 5em;
}

.second-p {
  clear: both; /* left, right */
}
